<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customers</title>
</head>
<body>
<h1>Customers</h1>
<table>
    <tr>
        <th>CustomerId</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Social security number</th>
    </tr>
    <tr th:each="customer : ${customers}">
        <td th:text="${customer.customerId}"></td>
        <td th:text="${customer.firstName}"></td>
        <td th:text="${customer.lastName}"></td>
        <td th:text="${customer.ssn}"></td>
    </tr>
</table>
</body>
</html>