<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h2 th:text="${title}" style="text-decoration: underline; color: slateblue; padding-left: 150px"></h2>

<div class="allItems" th:unless="${#lists.isEmpty(allItems)}" style="padding-left: 25px">

    <table style="border: 1px solid black; border-collapse: collapse; width: 30%">
        <thead>
        <tr>
            <th th:text="${id}" style="text-align: left; border: 1px solid black; padding: 10px"></th>
            <th th:text="${name}" style="text-align: left; border: 1px solid black; padding: 10px"></th>
            <th th:text="${price}" style="text-align: left; border: 1px solid black; padding: 10px"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${allItems}">
            <td th:text="${item.itemId}" style="text-align: left; border: 1px solid black; padding: 10px"></td>
            <td th:text="${item.name}" style="text-align: left; border: 1px solid black; padding: 10px"></td>
            <td th:text="${item.price}" style="text-align: left; border: 1px solid black; padding: 10px"></td>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>